configparser==5.0.2
pillow==9.2.0
markdown==3.3.4
neuralpredictors==0.2.0
numpy==1.21.1
opencv-python==4.5.4.58
pathtools==0.1.2
pytorch-lightning==1.5.2
pyyaml==5.4.1
requests==2.26.0
requests-oauthlib==1.3.0
scipy==1.7.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorboardx==2.4
termcolor==1.1.0
tqdm==4.61.2
wandb==0.12.9
wget==3.2
npm
configurable-http-proxy
jupyterhub
batchspawner
plotly
git+https://github.com/CSNG-MFF/imagen.git
